<div class="container-fluid contant-wrap">
    <div class="row">
        <div class="col-sm-6 site-half left-site">
            <div class="main-desc">
                <h1>El aliado que tu negocio realmente necesita</h1>
                <p>Nuestra misión es utilizar todos los medios digitales para que tu negocio siga creciendo, nuestra visión convertirnos en tu mejor aliado digital.</p>
                <p>Trabajemos juntos!</p>
            </div>
        </div>
        <div class="col-sm-6 no-padding site-half" ng-scrollbars ng-scrollbars-update="vm.destroyScrollBar()">
            <div class="content">
                <div class="text-center main-image-desc">
                    <img src="images/about-us.png" alt="Welcome">
                </div>
                <h2>Hola, <br>somos MonoMedia!</h2>
                <p>En <strong>MonoMedia</strong> creamos soluciones de calidad que harán que tu negocio siga creciendo.</p>
                <p>Nosotros no creemos en trabajos sin resultados, nuestra cultura y años de experiencia nos han enseñado que todo proyecto que empezamos es una inversión que traerá frutos para nosotros y para nuestros aliados.</p>
            </div>
            <div class="content white-block">
                <h2>Nuestro Equipo</h2>
                <div class="text-center main-image-desc">
                    <div class="teammembers-thumb">
                        <img src="images/team.png" alt="Team">
                    </div>
                </div>
                <p>En <strong>MonoMedia</strong> nos gusta llamarnos geeks, nómadas, pero sobre todo amigos.</p>
                <p>Somos un grupo especial de programadores, diseñadores, marketeros, gente con mucha visión y con muchas ganas de demostrar todo su potencial.</p>
                <p>No podemos decir que somos los Gurús de la internet, pero apuesto a que estamos cerca de ese título.</p>
            </div>
        </div>
    </div>
</div>