<div class="container-fluid contant-wrap">
    <div class="row">
        <div class="col-sm-6 site-half left-site">
            <div class="main-desc">
                <h1>Hola, <br>somos <strong>MonoMedia</strong> <br>tu Partnet Digital</h1>
                <p>Somos una iniciativa digital que busca cubrir tus diferentes necesidades tecnológicas.</p>
                <p>Trabajemos juntos!</p>
            </div>
        </div>
        <div class="col-sm-6 site-half content-middle">
            <img src="images/welcome.png" alt="Welcome">
        </div>
    </div>
</div>