@import "bootstrap";
@import "common";
@import "scrollBar";
@import "colorsBar";

// bower:scss
// endbower

.contant-wrap {
    .site-half {
        position: relative;
        height: 100vh;
        padding-top: 50px;

        .main-desc {
            margin: 0 10%;
            position: absolute;
            top: 50%;
            left: 0;
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);

            h1 {
                font-weight: normal;
            }
        }

        &.content-middle {
            img {
                position: absolute;
                top: 50%;
                left: 0;
                -ms-transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
            }
        }
    }
    
    .left-site {
        background: #111517;
        color: #fff;
        
        h1 {
            color: #fff;
        }
    }

    .content {
        padding: 50px 10%;
        margin-top: 50px;

        &.white-block {
            background-color: #fff;
        }

        .main-image-desc {
            margin-bottom: 60px;

            img {
                max-height: 250px;
            }
        }

        .teammembers-thumb {
            width: 260px;
            height: 260px;
            background-color: #edf6fc;
            border-radius: 100%;
            text-align: center;
            position: relative;
            margin: 0 auto 30px;

            img {
                position: absolute;
                bottom: -30px;
                left: 50%;
                transform: translate(-50%, 0);
            }
        }
    }
}

.st-footer {
    position: absolute;
    bottom: 5%;
    left: 5%;

    .social-icons {
        margin: 0;

        li {
            padding: 0;

            a {
                display: inline-block;
                width: 32px;
                height: 60px;
                padding: 0;
                font-size: 22px;
                line-height: 60px;
                text-align: center;
                color: #fff;
            }
        }
    }

    .copyright {
        margin-top: 10px;
        font-size: 11px;
        color: #fff;
    }
}

@import "mobile";